.climaComponent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgb(32, 33, 36);
    width: 100;
    padding: 16px;
    border-radius: 16px;
    margin-right: 15px;
}
.location{
    font-size: 18px;
    font-weight: 500;
}
.temp{
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}
.wind{
    margin: 5px 0px 5px 0px;
}
.climaComponent img{
    width: 30%;
    height: 80%;
}
.clima_container{
    display: flex;
    justify-content: center;
}
.wind img {
    border-radius: 20px;
    width: 30px;
}

@media screen and (max-width: 675px) {
    .climaComponent{
        width: 180px;
    }
}

@media screen and (max-width: 550px) {

    .clima{
        margin-bottom: 30px;
    }
}